<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>finba</title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
        <h1>Terms And Conditions</h1>
        <p>Please remember that FinBa app is a platform for citizens to post their reports and comment on other posts on the website. FinBa app, welcome all viewpoints and we request users to submit constructive inputs.<br>
Through our tools, Owowww or FinBa encourages civic action around the civic issues.It is, however not liable to solving these problems posted by citizens. FinBa acts as intermediary between citizens and organisation. FinBa sends issues raised or reported by users to the concerned organisations.<br>
Users are responsible for all content posted by them and the FinBa app or Owowww shall not be responsible for the accuracy, legality or decency of any material posted by user. Please do not post false, defamatory, abusive, threatening, harmful, obscene messages. A defamatory comment is a false comment that is capable of damaging the reputation of a person or organization. If successfully sued in relation to any content posted by you, you could be held liable for considerable damages and costs.
 </p>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
 </body>
</html>
